.container{
    max-width:400px ;
    
    margin:10vh auto 0 auto ;
    box-shadow:0px 0px 10px 10px rgb(59, 43, 43) ;
}

.display{
text-align: right;
height: 70px;

padding: 16px 8px;
font-size: 25px;
background-color: rgb(150, 240, 198);
}

.buttons{
    display: grid;
    border-bottom: 1px solid rgb(170, 170, 170);
    border-left: 1px solid rgb(170, 170, 170);
/* butoanele in coloana cu display grid  (fr- fractie*/
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.buttons > div{
    border-top: 1px solid rgb(61, 59, 59);
    border-right: 1px solid rgb(61, 59, 59);
}

.button{
    border: 0.5px  solid rgb(61, 59, 59);
    /* line-height intinde containerul in sus */
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(22, 39, 51, 0.808);
    font-weight: 700;
    color: mintcream;
}


.button:hover{
    background-color: rgb(98, 160, 131);
}

#equal{
    background-color: rgb(57, 168, 219);
}
#equal:hover{
    background-color:rgb(86, 146, 173) ;
}